<div class="body">
  <div class="row top">
    <div class="col-md-4 Conner">
      <!--Card-->
      <mdb-card class="card" cascade="true">
  
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://lh3.googleusercontent.com/JbU67QAJEc-081GLYk1YWQNs1zKdI8Y9zaD6QFy-gB1BBnXmcijxBG7YOvoQKbGEep0sFBOQBo2G96RtwoFc7GTay7Cx8mtB0DS_QdBvtl0FeS_fD1Tb1iA7eQinoUMXjEWfNcgDVYZStuKZNBjZvhKy7Sc05cIR3Om18DEQYzXNbfSUhbtqG96wvKttYH21DfueHrLP61me-oOYj8og6yZamBgDGZkxnelp6ltw3LS_ZQCYSSBUK58XxU4Y5jmL0jvuhaWMioe28-u-8_js7kveoS2j3txB0rZ9kyisk7mntuKroiNddt8VwzksoBFrYKeC7Hm3fLndf51XaVklR4S2GgUmac4KSgHu16X3piKvH8lN9ls4JD6u4PxVD7yXlG9vBM8G2S8T94DAA6NSTFdq1i-jlGerVRpeafDo-nRUWoMdKF5if_Xi4wRsapucDoLyKBulqj3RnQjZv0vmnxE87qPIotQy4f5E753I3IgsHuBtpbLzbj9ktWAddDT9fjx3cnEphgGWdXWXhfjoCP6Drpw8XbiIZxMrFSt68glFBnjUCTVSYmaqzU8bUseUv_hQA3Fq0YUn9KziBMosdEoNA81NinGZB_ea5jhi1d4ve_xkOVBP_kRESmOpQ44y7FjK1VD5_3uZ41eB89cAguna2w=w593-h790-no">
          </mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h4 class="card-title">
            <strong>Conner Donohoo</strong>
          </h4>
          <h5>Web developer</h5>
  
          <mdb-card-text>
            I've been programming for a very short amount of time now, but what I lack in tenure
            I more than make up for with grit and dedication.  Contact me below.
          </mdb-card-text>
  
          <div class="icons">
            <!--Facebook-->
            <a href="" target="_blank">
              <mdb-icon icon="facebook-official"></mdb-icon>
            </a>
            <!--Linkedin-->
            <a href="https://www.linkedin.com/in/conner-donohoo/" target="_blank">
              <mdb-icon icon="linkedin-square"></mdb-icon>
            </a>
            <!--GitHub-->
            <a href="https://github.com/Donohoo13" target="_blank">
              <mdb-icon icon="github"></mdb-icon>
            </a>
          </div>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>
    <div class="col-md-4 Paul">
      <!--Card-->
      <mdb-card class="card" cascade="true">
  
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img class="paulImg" src="https://i.imgur.com/UzkdaBM.jpg">
          </mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h4 class="card-title">
            <strong>Paul Barrett</strong>
          </h4>
          <h5>Web developer</h5>
  
          <mdb-card-text>
              My name is Paul, and I am a Junior Full Stack Software developer.  
              New to the programming scene, I overcome my challenges to programming through research, 
              collaboration with my peers, trial and error, and a fun sense of humor.
          </mdb-card-text>
  
          <div class="icons">
            <!--Facebook-->
            <a href="" target="_blank">
              <mdb-icon icon="facebook-official"></mdb-icon>
            </a>
            <!--Linkedin-->
            <a href="https://www.linkedin.com/in/paul-barrett-92b436170/" target="_blank">
              <mdb-icon icon="linkedin-square"></mdb-icon>
            </a>
            <!--GitHub-->
            <a href="https://github.com/dinandriah" target="_blank">
              <mdb-icon icon="github"></mdb-icon>
            </a>
          </div>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>
  </div>
  <div></div>
  <div class="row bottom">
    <div class="col-md-4 Karlee">
      <!--Card-->
      <mdb-card class="card" cascade="true">
  
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://media.licdn.com/dms/image/C5103AQHewHkohZ2BWQ/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=_uD6Qqf05HIqak_Xe2_ZmUCgfTUsLS8yx9cgHwa28ts">
          </mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h4 class="card-title">
            <strong>Karlee Wright</strong>
          </h4>
          <h5>Web developer</h5>
  
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
  
          <div class="icons">
            <!--Facebook-->
            <a href="" target="_blank">
              <mdb-icon icon="facebook-official" target="_blank"></mdb-icon>
            </a>
            <!--Linkedin-->
            <a href="https://www.linkedin.com/in/karleerheawright/" target="_blank">
              <mdb-icon icon="linkedin-square"></mdb-icon>
            </a>
            <!--GitHub-->
            <a href="https://github.com/karleewright" target="_blank">
              <mdb-icon icon="github"></mdb-icon>
            </a>
          </div>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>
    <div class="col-md-4 Nicole">
      <!--Card-->
      <mdb-card class="card" cascade="true">
  
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://media.licdn.com/dms/image/C5603AQF18265PAoSrA/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=LCL2M1GPRrOqZuhiAl9KWJ8OP5QN53Y-M3fgh3JaBpI">
          </mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h4 class="card-title">
            <strong>Nicole Kissell</strong>
          </h4>
          <h5>Web developer</h5>
  
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
  
          <div class="icons">
            <!--Facebook-->
            <a href="" target="_blank">
              <mdb-icon icon="facebook-official"></mdb-icon>
            </a>
            <!--Linkedin-->
            <a href="https://www.linkedin.com/in/nicole-kissell-639555a3/" target="_blank">
              <mdb-icon icon="linkedin-square"></mdb-icon>
            </a>
            <!--GitHub-->
            <a href="https://github.com/ColeKissell" target="_blank">
              <mdb-icon icon="github"></mdb-icon>
            </a>
          </div>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>
  </div>
  </div>