<!--
  <div class="body">
    <h2>My Shows</h2>

  <ul class="heroes">
    <li *ngFor="let show of shows">
      <a routerLink="/detail/{{show._id}}">
        <span class="badge">{{show._id}}</span> {{show.name}}
      </a>
      <button class="delete" title="delete show"
        (click)="delete(show)">x</button>
    </li>
    </ul>
    </div>
-->

<div class="body">
  <div id="addNewBtn">
    <button mdbBtn type="button" color="info" outline="true"
    mdbWavesEffect routerLink="/addshow">Add New Show</button>
  </div>
  <div class="card-deck card">
    <mdb-card *ngFor="let show of shows">
      <mdb-card-body>
        <div class="info">
          <a class="edit" routerLink="/detail/{{show._id}}"><i class="fa fa-pencil"></i></a>
          <p id="price"><strong>${{ show.price }}</strong></p>
          <a class="delete" title="delete show" (click)="delete(show)"><i class="fa fa-trash-o"></i></a>
        </div>
        <mdb-card-title>
          <h4 id="name" class="title">{{ show.name }}</h4>
          <h6 class="title">{{ show.genre }}</h6>
        </mdb-card-title>
        <mdb-card-text>{{ show.description }}</mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
