<div *ngIf="show">
  <h2>{{show.name | uppercase}} Details</h2>
  <!-- <div><span>id: </span>{{show._id}}</div> -->
  <div>
    <label>name:
      <input [(ngModel)]="show.name" placeholder="name"/>
    </label>
    <br/>
    <label>description:
      <input [(ngModel)]="show.description" placeholder="description"/>
    </label>
    <br/>
    <label>price:
      <input type="number" [(ngModel)]="show.price" placeholder="price"/>
    </label>
    <br/>
    <label>genre:
      <input [(ngModel)]="show.genre" placeholder="genre"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button> 
  <!-- <button class="delete" title="delete show"
      (click)="delete(show)">x</button> -->
</div>