.body {
    max-width: 80%;
    margin: auto;
    margin-top: 1em;
    text-align: center;
}

.carousel {
    margin: auto;
    max-height: 20em;
    max-width: 60%;
}

.about {
    margin-top: 2em;
}
 ul {
     list-style-type: none;
 }